@model IEnumerable<Demo.Web.Models.Benefeciary.BenefeciaryModel>

<div class="card">
    <div class="card-body">
        <div id="view-all">
            @await Html.PartialAsync("_ViewAll", Model)
        </div>
    </div>
</div>


