@    using Demo.Web.Models.Companies;
@    using Demo.Web.Utilities;
@    using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    UserCompaniesModel companyUsersModel = new UserCompaniesModel();
    // Demo.Web.Utilities.SessionExtensions sessionExtensions = new Demo.Web.Utilities.SessionExtensions();
    ActiveUser activeUser = CurrentUser.Get();// SessionExtension.GetObject<ActiveUser>(@HttpContextAccessor.HttpContext.Session, "ActiveUser");
    // companyUsersModel.UserBusiness = activeUser.UserInBusiness;
    // companyUsersModel.CompanyUsers_Id = activeUser.CompanyUsers_Id;

    var companyUserItems = activeUser.UserInBusiness
   .Select(c => new SelectListItem { Value = c.CompanyUsers_Id.ToString(), Text = c.Company_BusinessName })
   .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<div>
    <form id="setUserInf"
          asp-controller="CompanyUsers"
          asp-action="SetUserInformation"
          asp-route-returnUrl="@returnUrl"
          
          method="post"
          class="form-horizontal nav-link text-dark"
          role="form">
        <select name="CompanyUsers_Id" class="form-control"
                onchange="this.form.submit();"
                asp-for="@activeUser.CompanyUsers_Id"
                asp-items=companyUserItems>
        </select>
    </form>
</div>