@model IEnumerable<Sample_Clean_Architecture.Web.Models.Currency.CurrencyModel>
@{ ViewData["Title"] = "Index"; }
<div class="card">
    <div class="card-body">

        <div id="view-all">
            @await Html.PartialAsync("_ViewAll", Model)
        </div>
    </div>
</div>